<div id="directions" class="col-md-4">
  <h1>Rules:</h1>
  <ul>4x4
    <li>3 minute time limit</li>
    <li><b>3 letters</b> or more to each word</li>
    <li></li>
  </ul>
  <ul>5x5
    <li>3 minute time limit</li>
    <li>4 letters or more to each word</li>
  </ul>
  <ul>6x6
    <li><b>4 minute</b> time limit</li>
    <li>4 letters or more to each word</li>
    <li></li>
  </ul>

</div>
