<div id="directions" class="col-md-4" style="outline:1px solid black">
  <h1 style="color:black;">Rules:</h1>
  <ul><b><u>4x4</u></b>
    <li>3 minute time limit</li>
    <li><b>3 letters</b> or more to each word</li>
    <li></li>
  </ul>
  <ul><b><u>5x5</u></b>
    <li>3 minute time limit</li>
    <li>4 letters or more to each word</li>
  </ul>
  <ul><b><u>6x6</u></b>
    <li><b>4 minute</b> time limit</li>
    <li>4 letters or more to each word</li>
    <li></li>
  </ul>

</div>
