<h1 style="color:black;"><u>{{sideLength}}x{{sideLength}} Rules:</u></h1>
<p id="word-length-reminder" style="text-align: left; font-size: 10pt;">Words must be at least {{minWordLength}} letters</p>
<p style="text-align: left; font-size: 10pt;">Words don’t need to be in straight line!!  As long as each letter is touching the one that follows it (up, down, left, right, or diagonal) that word is fair game.</p>
<p style="text-align: left; font-size: 10pt;">Click "Get Solutions" and click those words to see what I mean.</p>
