<h1 style="color:black;"><u>{{sideLength}}x{{sideLength}} Rules:</u></h1>
<ul>
  <li id="word-length-reminder">Words must be at least {{minWordLength}} letters</li>
  <li>Click words in your list to see where they appear</li>
</ul>
