@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$offWhite: #FFF8F3;
$black: #000;

$pink: #D0006F;
$orange: #F47700;
$green: #84E22B;
$blue: #16BABC;
$yellow: #FFDE17;

$darkest-color: #472407;
$middle-dark-color: #96250f;
$middle-color: #F47700;
$middle-light-color: #cd6a00;
$lightest-color: #ffb600;

$mainBackground: linear-gradient($orange, $offWhite);

$main-background-color: $middle-light-color;
$main-text-color: $black;
$outline-color-test: #000;

$headerBackground: linear-gradient(to top right, $orange, $pink);
$header-background-color: $darkest-color;
$header-text-color: $offWhite;
$offline-background: #900;
// #f15b31

$footerBackground: linear-gradient(to top right, $pink, $orange);

$buttonBackground: linear-gradient($green, $blue);
$butOtherBackground: linear-gradient(to right, $blue, $green);
$butWaitOtherBackground: linear-gradient(to right, $green, $blue);

$quitButtonBackground: linear-gradient($pink, $blue);
$quitOtherButtonBackground: linear-gradient($blue, $pink);

$newGameButtonBackground: linear-gradient($orange, $green);
$newHoverGameButtonBackground: linear-gradient($green, $blue);

$nav-background: $middle-color;
$nav-color: $darkest-color;

$game-square-text-color: $darkest-color;
$game-square-background: $main-background-color;

$player-text-color: $main-text-color;
$player-background: $main-background-color;

$grid-border: 5px solid #333;
