$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

a {
  border-bottom: 2px solid transparent;
  margin: 0 15px;
}

a:hover {
  border-color: $lightest-color;
}

.blank-square {
  border: 3px solid $middle-dark-color;
  border-radius: 15px;
  box-sizing: border-box;
  color: $darkest-color;
  // cursor: pointer;
  display: inline;
  float: left;
  font-family: 'Droid Serif', serif;
  font-size: 40pt;
  height: 90px;
  line-height: 80px;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 90px;
}

.board {
  border: 0;
  box-sizing: border-box;
  // height: 900px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  // width: 900px;
}

body {
  background-color: $main-background-color;
  margin: 0;
  text-align: center;
}

button {
  background-color: $header-background-color;
  color: $header-text-color;
  font-size: 16pt;
}

.button-quit {
  display: inline-block;
  border: 0;
  margin: 12px;
  outline: 0;
  padding: 15px;
  &:hover {
    background-color: $middle-dark-color;
  }
}

.btn-primary {
  background-color: $middle-color;
  color: $darkest-color;
  font-size: 11pt;
  font-weight: 450;
}

.clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

.copyright {
  float: left;
  margin: 0;
  padding: 0;
}

div {
  color: $main-text-color;
}

.dropbtn {
  background-color: $middle-color;
  border: 0;
  color: $darkest-color;
  font-size: 16px;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.dropdown {
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
    .dropbtn {
      background-color: $lightest-color;
    }
  }
}

.dropdown-content {
  background-color: $middle-color;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  // min-width: 160px;
  position: absolute;
  z-index: 1;
  a {
    display: block;
    text-decoration: none;
    &:hover {
      background-color: $lightest-color;
    }
  }
}

footer {
  background-color: $header-background-color;
  color: $header-text-color;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .08em;
  padding: 8px 20px;
  text-transform: uppercase;
}

.footer-down-shifter {
  height: 200px;
  position: relative;
  width: 10px;
}

h1 {
  background-color: $header-background-color;
  color: $header-text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
}

h3 {
  background-color: $header-background-color;
  color: $header-text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px;
}

header {
  background-color: $header-background-color;
  color: $header-text-color;
  padding: 30px 20px;
}

img {
  cursor: pointer;
  margin: 40px 8px 0;
}

input {
  background-color: $off-white;
  color: $darkest-color;
  font-size: 12pt;
}

.intro-snippet {
  margin: 30px auto;
}

li {
  text-align: left;
}

main {
	/* width: 850px; */
  margin: 20px auto;
}

.message {
  float: right;
  margin: 0;
  padding: 0;
}

.name {
  color: $middle-color;
  font-weight: 700;
}

nav {
  background-color: $nav-background;
  color: $nav-color;
  padding: 20px 0;
  position: relative;
}

.nav-new-game {
  &:hover {
    background-color: $lightest-color;
    outline: 4px solid $middle-color;
    .dropbtn {
      background-color: $lightest-color;
    }
  }
}

.new-game-list {
  background-color: $nav-background;
}

.no-border {
  border: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

p {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  line-height: 26px;
}

.placeholder {
  color: $nav-color;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    color: $nav-color;
  }
}

.row-block {
  border: 0;
  box-sizing: border-box;
  height: 200px;
  // width: 900px;
  margin: 0 auto;
  padding: 0;
}

.complete-word-list {
  column-count:	3;
  font-size:	14pt;
}

table {
  // text-align: center;
  font-size: 12pt;
}

.timer {
  font-size: 26pt;
  padding: 15px 0 0;
  text-align: center;
}

ul {
  color: $main-text-color;
  font-size: 16pt;
  list-style: none;
  text-align: left;
}

ul > li {
  position: relative;
}

ul ul {
  display: none;
  left: 0;
  position: absolute;
  top: 1em;
}

ul > li:hover ul {
  display: block;
}

.x-left {
  border-right: 10px solid $outline-color-test;
}

.x-middle {
  border-left: 10px solid $outline-color-test;
  border-right: 10px solid $outline-color-test;
}

.x-right {
  border-left: 10px solid $outline-color-test;
}

.y-top {
  border-bottom: 10px solid $outline-color-test;
}

.y-middle {
  border-bottom: 10px solid $outline-color-test;
  border-top: 10px solid $outline-color-test;
}

.y-bottom {
  border-top: 10px solid $outline-color-test;
}

.win-message {
  background-color: rgba(20, 49, 240, .6);
  color: $off-white;
  font-size: 60pt;
  height: 50%;
  line-height: 400px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 80%;
}
